<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>79251626405-n982k211gnnt6tmui809v5o54d8l1lru.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.79251626405-n982k211gnnt6tmui809v5o54d8l1lru</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>79251626405-8j310dna7jeg5etfhol5fn0b73tkt3nq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDhW-_NycQFQwSzuI_u4i9T3EsN_4xuB3o</string>
	<key>GCM_SENDER_ID</key>
	<string>79251626405</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mn.svp.lingos</string>
	<key>PROJECT_ID</key>
	<string>lingos-3e3b4</string>
	<key>STORAGE_BUCKET</key>
	<string>lingos-3e3b4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:79251626405:ios:ce160f60492f4a6611f04c</string>
</dict>
</plist>